/*-- scss:defaults --*/

/*Navbar color*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$amarillo: #ffff00 !default;
$green_fluor: #39ff14 !default;

$primary: $green_fluor !default;

$body-color: $amarillo !default;

/*font*/

$font-family-base: 'Aboreto','itim', 'Merriweather', 'Roboto Regular', 'Cabin Regular', 'Lato', 'Source Seans Pro' !default;



$headings-font-family: 'Prata', 'Roboto', 'Playfair Display', 'Montserrat' !default;

/*-- scss:rules--*/

#title-block-header.quarto.tittle-block.default .quarto-title .title{
  font-family: "Oleo Script", $headings-font-family;
  font-size: $font-size-base * 3;
}

/*font-size: ;*/
p {
  font-size: 2em;
}

/*background-color*/

body {background-color: blue;}

body {
  color: yellow;
}





